<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.3.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_429201093f6c419991bdd74265ea8d6e {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_429201093f6c419991bdd74265ea8d6e" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_429201093f6c419991bdd74265ea8d6e = L.map(
        'map_429201093f6c419991bdd74265ea8d6e', {
        center: [0, 0],
        zoom: 1,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_238f1bd87d214e08b35c1a8fe6d0a68a = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_429201093f6c419991bdd74265ea8d6e);
    
        var marker_a3b5706d583c431f8e4de9cd2d06ebf3 = L.marker(
            [50.852455, 7.131534],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_7bda9730e73349b0be9927eee1b1c58c = L.popup({maxWidth: '300'
            
            });

            
                var html_c07d312998164a31b4663a6989aa6838 = $(`<div id="html_c07d312998164a31b4663a6989aa6838" style="width: 100.0%; height: 100.0%;">Explornaut</div>`)[0];
                popup_7bda9730e73349b0be9927eee1b1c58c.setContent(html_c07d312998164a31b4663a6989aa6838);
            

            marker_a3b5706d583c431f8e4de9cd2d06ebf3.bindPopup(popup_7bda9730e73349b0be9927eee1b1c58c)
            ;

            
        
    
        var marker_8f2fee3946f141e9ba34f2192a893f20 = L.marker(
            [12.96991, 77.59796],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_639beb72f4974edb9c8c4de961d9e391 = L.popup({maxWidth: '300'
            
            });

            
                var html_ddd16a6785b945038b215607006d293c = $(`<div id="html_ddd16a6785b945038b215607006d293c" style="width: 100.0%; height: 100.0%;">isro</div>`)[0];
                popup_639beb72f4974edb9c8c4de961d9e391.setContent(html_ddd16a6785b945038b215607006d293c);
            

            marker_8f2fee3946f141e9ba34f2192a893f20.bindPopup(popup_639beb72f4974edb9c8c4de961d9e391)
            ;

            
        
    
        var marker_a3125753fc0d40929101ce0648656a98 = L.marker(
            [31.75, 35.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_ebe5aa7ebd484155938b1687889bf8bb = L.popup({maxWidth: '300'
            
            });

            
                var html_5751687ed0b6420ba7eaa19be5295ec9 = $(`<div id="html_5751687ed0b6420ba7eaa19be5295ec9" style="width: 100.0%; height: 100.0%;">ILSpaceAgency</div>`)[0];
                popup_ebe5aa7ebd484155938b1687889bf8bb.setContent(html_5751687ed0b6420ba7eaa19be5295ec9);
            

            marker_a3125753fc0d40929101ce0648656a98.bindPopup(popup_ebe5aa7ebd484155938b1687889bf8bb)
            ;

            
        
    
        var marker_32088a97a91e4e5eaf6a7ff1b739093f = L.marker(
            [41.89306, 12.48278],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_63d07ce5ed0f4bfcaee2293aed743861 = L.popup({maxWidth: '300'
            
            });

            
                var html_d6f01017c45e4e9c803c484b21fe6348 = $(`<div id="html_d6f01017c45e4e9c803c484b21fe6348" style="width: 100.0%; height: 100.0%;">ASI_spazio</div>`)[0];
                popup_63d07ce5ed0f4bfcaee2293aed743861.setContent(html_d6f01017c45e4e9c803c484b21fe6348);
            

            marker_32088a97a91e4e5eaf6a7ff1b739093f.bindPopup(popup_63d07ce5ed0f4bfcaee2293aed743861)
            ;

            
        
    
        var marker_90a056f6459b4b79866dd2959d0a8672 = L.marker(
            [43.29667, 5.37639],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_32567acd6f8c432690507e8c3e93397e = L.popup({maxWidth: '300'
            
            });

            
                var html_f9096b3e383749329fd64fe203312951 = $(`<div id="html_f9096b3e383749329fd64fe203312951" style="width: 100.0%; height: 100.0%;">HiRISE</div>`)[0];
                popup_32567acd6f8c432690507e8c3e93397e.setContent(html_f9096b3e383749329fd64fe203312951);
            

            marker_90a056f6459b4b79866dd2959d0a8672.bindPopup(popup_32567acd6f8c432690507e8c3e93397e)
            ;

            
        
    
        var marker_e707845f647d48d7a7ec26c3487a6343 = L.marker(
            [43.55, -96.7003],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_a24d685b8159448a9b94495cf88132b3 = L.popup({maxWidth: '300'
            
            });

            
                var html_fe408f64635e4a6ba7768a2ff17e85bd = $(`<div id="html_fe408f64635e4a6ba7768a2ff17e85bd" style="width: 100.0%; height: 100.0%;">USGSLandsat</div>`)[0];
                popup_a24d685b8159448a9b94495cf88132b3.setContent(html_fe408f64635e4a6ba7768a2ff17e85bd);
            

            marker_e707845f647d48d7a7ec26c3487a6343.bindPopup(popup_a24d685b8159448a9b94495cf88132b3)
            ;

            
        
    
        var marker_4ffc5205e48b4c8791c2c28c1fe635b7 = L.marker(
            [62.340816, 5.637742],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_22b47517ff8f4c9b82efc343346869c4 = L.popup({maxWidth: '300'
            
            });

            
                var html_56a4702027bb4c35a9a400c8c9d848b2 = $(`<div id="html_56a4702027bb4c35a9a400c8c9d848b2" style="width: 100.0%; height: 100.0%;">GLOBEProgram</div>`)[0];
                popup_22b47517ff8f4c9b82efc343346869c4.setContent(html_56a4702027bb4c35a9a400c8c9d848b2);
            

            marker_4ffc5205e48b4c8791c2c28c1fe635b7.bindPopup(popup_22b47517ff8f4c9b82efc343346869c4)
            ;

            
        
    
        var marker_11afccf2765449959a1643c3b9855dad = L.marker(
            [52.21718, 4.417191],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_3033fde1fe4247de8e744588fb6ac92b = L.popup({maxWidth: '300'
            
            });

            
                var html_ee2bb9ce8cc341c2b075c725295acda5 = $(`<div id="html_ee2bb9ce8cc341c2b075c725295acda5" style="width: 100.0%; height: 100.0%;">esaspaceflight</div>`)[0];
                popup_3033fde1fe4247de8e744588fb6ac92b.setContent(html_ee2bb9ce8cc341c2b075c725295acda5);
            

            marker_11afccf2765449959a1643c3b9855dad.bindPopup(popup_3033fde1fe4247de8e744588fb6ac92b)
            ;

            
        
    
        var marker_7a49a6e7069547939e27bbb5a776d96c = L.marker(
            [-25.0, 135.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_80962c084e6143d49918aae8b71d4b79 = L.popup({maxWidth: '300'
            
            });

            
                var html_a4d1e49fe0244c83b2341b466b525886 = $(`<div id="html_a4d1e49fe0244c83b2341b466b525886" style="width: 100.0%; height: 100.0%;">AusSpaceAgency, CSIROnews</div>`)[0];
                popup_80962c084e6143d49918aae8b71d4b79.setContent(html_a4d1e49fe0244c83b2341b466b525886);
            

            marker_7a49a6e7069547939e27bbb5a776d96c.bindPopup(popup_80962c084e6143d49918aae8b71d4b79)
            ;

            
        
    
        var marker_2756a2297b4c41a8983a0bbeed0633a4 = L.marker(
            [29.7589, -95.3677],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_c5cd0548feeb4d37a575265fdfa5afaf = L.popup({maxWidth: '300'
            
            });

            
                var html_915c0dbd87b2498698863accdd9d68b5 = $(`<div id="html_915c0dbd87b2498698863accdd9d68b5" style="width: 100.0%; height: 100.0%;">AstroDrewMorgan, NASAFltDirector, Astro_FarmerBob, Astro_Jenni, Astro_Woody, lunarloral, Astro_Raja, AstroKomrade, Astro_Jeff, astro_kimbrough, AstroSerena, astro_ricky, Astro_Christina, Astro_Jessica, AstroAnnimal, Astro_Maker</div>`)[0];
                popup_c5cd0548feeb4d37a575265fdfa5afaf.setContent(html_915c0dbd87b2498698863accdd9d68b5);
            

            marker_2756a2297b4c41a8983a0bbeed0633a4.bindPopup(popup_c5cd0548feeb4d37a575265fdfa5afaf)
            ;

            
        
    
        var marker_0e2c55344ac4430e8864c1d8685fc7dd = L.marker(
            [38.895, -77.0366],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_3d2c1948c29d44d49c19829248111d85 = L.popup({maxWidth: '300'
            
            });

            
                var html_1928b2caa9bf4e51838367b318d0b1a3 = $(`<div id="html_1928b2caa9bf4e51838367b318d0b1a3" style="width: 100.0%; height: 100.0%;">WHOSTP, JimBridenstine, Dr_ThomasZ, usgcrp, NASASolve, NASA_OSBP</div>`)[0];
                popup_3d2c1948c29d44d49c19829248111d85.setContent(html_1928b2caa9bf4e51838367b318d0b1a3);
            

            marker_0e2c55344ac4430e8864c1d8685fc7dd.bindPopup(popup_3d2c1948c29d44d49c19829248111d85)
            ;

            
        
    
        var marker_fdee6559d54b42f3ae8b4b33e23e7aa6 = L.marker(
            [34.7298, -86.5859],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_b73798d1eb1742bd84b62342768acaf5 = L.popup({maxWidth: '300'
            
            });

            
                var html_24627d3ce56e423983fdc1379a91e0cd = $(`<div id="html_24627d3ce56e423983fdc1379a91e0cd" style="width: 100.0%; height: 100.0%;">EarthKAM_Live, NASA_SPoRT</div>`)[0];
                popup_b73798d1eb1742bd84b62342768acaf5.setContent(html_24627d3ce56e423983fdc1379a91e0cd);
            

            marker_fdee6559d54b42f3ae8b4b33e23e7aa6.bindPopup(popup_b73798d1eb1742bd84b62342768acaf5)
            ;

            
        
    
        var marker_78d8fafe8b7d4b5abdfc23f2b7b1d4e9 = L.marker(
            [40.0, -100.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_dc811a4882434398b62c498ad50de892 = L.popup({maxWidth: '300'
            
            });

            
                var html_c567a1bc2ba942f887aadf69219f1fed = $(`<div id="html_c567a1bc2ba942f887aadf69219f1fed" style="width: 100.0%; height: 100.0%;">NASAInterns, NASASeaLevel</div>`)[0];
                popup_dc811a4882434398b62c498ad50de892.setContent(html_c567a1bc2ba942f887aadf69219f1fed);
            

            marker_78d8fafe8b7d4b5abdfc23f2b7b1d4e9.bindPopup(popup_dc811a4882434398b62c498ad50de892)
            ;

            
        
    
        var marker_0a25803a1ef44f9694f5a96b415207bb = L.marker(
            [39.4851, -80.1426],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_68f66ce21e124c88b1cdfd35b15f52e9 = L.popup({maxWidth: '300'
            
            });

            
                var html_640d9ab8380d497782099c5749311565 = $(`<div id="html_640d9ab8380d497782099c5749311565" style="width: 100.0%; height: 100.0%;">NASAIVV</div>`)[0];
                popup_68f66ce21e124c88b1cdfd35b15f52e9.setContent(html_640d9ab8380d497782099c5749311565);
            

            marker_0a25803a1ef44f9694f5a96b415207bb.bindPopup(popup_68f66ce21e124c88b1cdfd35b15f52e9)
            ;

            
        
    
        var marker_59253b6da2da4436bb482db96ac30b37 = L.marker(
            [38.995453, -76.85108],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_177f19ee6ec9457a9831bcac07abb12c = L.popup({maxWidth: '300'
            
            });

            
                var html_c6f2dd3fb3364dd697d9f801edd5102b = $(`<div id="html_c6f2dd3fb3364dd697d9f801edd5102b" style="width: 100.0%; height: 100.0%;">NASA_TESS</div>`)[0];
                popup_177f19ee6ec9457a9831bcac07abb12c.setContent(html_c6f2dd3fb3364dd697d9f801edd5102b);
            

            marker_59253b6da2da4436bb482db96ac30b37.bindPopup(popup_177f19ee6ec9457a9831bcac07abb12c)
            ;

            
        
    
        var marker_02c1d3a6f29a44a1952453c9ffd2f4ac = L.marker(
            [55.0, -115.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_621273da1c124923b2e7262a26bf6fcf = L.popup({maxWidth: '300'
            
            });

            
                var html_a91da460b0b54a1797dcc629ea9a195c = $(`<div id="html_a91da460b0b54a1797dcc629ea9a195c" style="width: 100.0%; height: 100.0%;">Astro_Kutryk</div>`)[0];
                popup_621273da1c124923b2e7262a26bf6fcf.setContent(html_a91da460b0b54a1797dcc629ea9a195c);
            

            marker_02c1d3a6f29a44a1952453c9ffd2f4ac.bindPopup(popup_621273da1c124923b2e7262a26bf6fcf)
            ;

            
        
    
        var marker_92ea5d7ae2f3420fb2f338eec0aa6e61 = L.marker(
            [29.960903, -95.41701],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_f768b04ba455422fb62572b79f0f10a2 = L.popup({maxWidth: '300'
            
            });

            
                var html_15556938d82b45c591ad1cb06d579868 = $(`<div id="html_15556938d82b45c591ad1cb06d579868" style="width: 100.0%; height: 100.0%;">zenanaut</div>`)[0];
                popup_f768b04ba455422fb62572b79f0f10a2.setContent(html_15556938d82b45c591ad1cb06d579868);
            

            marker_92ea5d7ae2f3420fb2f338eec0aa6e61.bindPopup(popup_f768b04ba455422fb62572b79f0f10a2)
            ;

            
        
    
        var marker_19befddd97264edd9ebb7256dda08049 = L.marker(
            [29.7589, -95.3677],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_90f45dfd5135459f83e4d8f4b913436f = L.popup({maxWidth: '300'
            
            });

            
                var html_95cc27f1388144e5b3584011bfd06c66 = $(`<div id="html_95cc27f1388144e5b3584011bfd06c66" style="width: 100.0%; height: 100.0%;">Astro_Feustel</div>`)[0];
                popup_90f45dfd5135459f83e4d8f4b913436f.setContent(html_95cc27f1388144e5b3584011bfd06c66);
            

            marker_19befddd97264edd9ebb7256dda08049.bindPopup(popup_90f45dfd5135459f83e4d8f4b913436f)
            ;

            
        
    
        var marker_552ee66141c14bdba46f35137f242892 = L.marker(
            [38.9584, -77.358],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_945d7e7669744492a6cd0784116aac58 = L.popup({maxWidth: '300'
            
            });

            
                var html_e6ea8a01a5cb4392ad4b9f911b47299b = $(`<div id="html_e6ea8a01a5cb4392ad4b9f911b47299b" style="width: 100.0%; height: 100.0%;">USGS</div>`)[0];
                popup_945d7e7669744492a6cd0784116aac58.setContent(html_e6ea8a01a5cb4392ad4b9f911b47299b);
            

            marker_552ee66141c14bdba46f35137f242892.bindPopup(popup_945d7e7669744492a6cd0784116aac58)
            ;

            
        
    
        var marker_45902ff5276841428b18f206c213c1e1 = L.marker(
            [38.8051, -77.047],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_81b66ba66e354597afd6572f575a5355 = L.popup({maxWidth: '300'
            
            });

            
                var html_8ec988465f3141028ec786c258b81d16 = $(`<div id="html_8ec988465f3141028ec786c258b81d16" style="width: 100.0%; height: 100.0%;">science360, NSF</div>`)[0];
                popup_81b66ba66e354597afd6572f575a5355.setContent(html_8ec988465f3141028ec786c258b81d16);
            

            marker_45902ff5276841428b18f206c213c1e1.bindPopup(popup_81b66ba66e354597afd6572f575a5355)
            ;

            
        
    
        var marker_769fa6df006f4faca0b5960e42bf6aaf = L.marker(
            [43.615, -116.2044],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_5985f25e3970467aa052705e259a661e = L.popup({maxWidth: '300'
            
            });

            
                var html_df995771db5949f0a4792d6bcc3b7d73 = $(`<div id="html_df995771db5949f0a4792d6bcc3b7d73" style="width: 100.0%; height: 100.0%;">Astro_Ellen</div>`)[0];
                popup_5985f25e3970467aa052705e259a661e.setContent(html_df995771db5949f0a4792d6bcc3b7d73);
            

            marker_769fa6df006f4faca0b5960e42bf6aaf.bindPopup(popup_5985f25e3970467aa052705e259a661e)
            ;

            
        
    
        var marker_a200b313099345f8bebe0b8c45c1a64b = L.marker(
            [48.20833, 16.37306],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_d7dbb50b31a44409b10d66a8fda5c765 = L.popup({maxWidth: '300'
            
            });

            
                var html_c69570edde3c4d61ba165c31c3d8a128 = $(`<div id="html_c69570edde3c4d61ba165c31c3d8a128" style="width: 100.0%; height: 100.0%;">UNOOSA</div>`)[0];
                popup_d7dbb50b31a44409b10d66a8fda5c765.setContent(html_c69570edde3c4d61ba165c31c3d8a128);
            

            marker_a200b313099345f8bebe0b8c45c1a64b.bindPopup(popup_d7dbb50b31a44409b10d66a8fda5c765)
            ;

            
        
    
        var marker_928fe163f41c49cc857a316b799a5457 = L.marker(
            [37.0, -120.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_146fcbae21f64ad19eabdbcd2881a889 = L.popup({maxWidth: '300'
            
            });

            
                var html_2019be04c5644d8a8aa370e3b4ee2882 = $(`<div id="html_2019be04c5644d8a8aa370e3b4ee2882" style="width: 100.0%; height: 100.0%;">30thSpaceWing</div>`)[0];
                popup_146fcbae21f64ad19eabdbcd2881a889.setContent(html_2019be04c5644d8a8aa370e3b4ee2882);
            

            marker_928fe163f41c49cc857a316b799a5457.bindPopup(popup_146fcbae21f64ad19eabdbcd2881a889)
            ;

            
        
    
        var marker_64ed32951ded469b8176aa6a9ca7052f = L.marker(
            [28.523146, -80.68148],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_cddce1dcd6034f64a4e89baa8b26a8b4 = L.popup({maxWidth: '300'
            
            });

            
                var html_117ec8c653994e699f2cccf8995b661b = $(`<div id="html_117ec8c653994e699f2cccf8995b661b" style="width: 100.0%; height: 100.0%;">NASAGroundSys</div>`)[0];
                popup_cddce1dcd6034f64a4e89baa8b26a8b4.setContent(html_117ec8c653994e699f2cccf8995b661b);
            

            marker_64ed32951ded469b8176aa6a9ca7052f.bindPopup(popup_cddce1dcd6034f64a4e89baa8b26a8b4)
            ;

            
        
    
        var marker_0d7fd03c84784ae696c3daf895288b13 = L.marker(
            [39.0046, -76.8755],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_bdde4cc55d714e3391fef6928a4d8785 = L.popup({maxWidth: '300'
            
            });

            
                var html_35cf2e3d81af4719b0fb499bf761784b = $(`<div id="html_35cf2e3d81af4719b0fb499bf761784b" style="width: 100.0%; height: 100.0%;">NASAARSET, NASALaserComm</div>`)[0];
                popup_bdde4cc55d714e3391fef6928a4d8785.setContent(html_35cf2e3d81af4719b0fb499bf761784b);
            

            marker_0d7fd03c84784ae696c3daf895288b13.bindPopup(popup_bdde4cc55d714e3391fef6928a4d8785)
            ;

            
        
    
        var marker_1167b62aa5cc45cdb15e3c382bdac824 = L.marker(
            [51.55833, -1.78111],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_1837f40eb52c4597b9f51274e964e38c = L.popup({maxWidth: '300'
            
            });

            
                var html_665fa7de05f2446a9bf26752fe66f2a8 = $(`<div id="html_665fa7de05f2446a9bf26752fe66f2a8" style="width: 100.0%; height: 100.0%;">spacegovuk</div>`)[0];
                popup_1837f40eb52c4597b9f51274e964e38c.setContent(html_665fa7de05f2446a9bf26752fe66f2a8);
            

            marker_1167b62aa5cc45cdb15e3c382bdac824.bindPopup(popup_1837f40eb52c4597b9f51274e964e38c)
            ;

            
        
    
        var marker_a76eeb29034a46ce80bd16ed4256d3ea = L.marker(
            [50.94222, 6.95778],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_86dee32fddd2435388038f884279a1a6 = L.popup({maxWidth: '300'
            
            });

            
                var html_b24ca28bbca84940b02b4adbcaeeb217 = $(`<div id="html_b24ca28bbca84940b02b4adbcaeeb217" style="width: 100.0%; height: 100.0%;">astro_timpeake</div>`)[0];
                popup_86dee32fddd2435388038f884279a1a6.setContent(html_b24ca28bbca84940b02b4adbcaeeb217);
            

            marker_a76eeb29034a46ce80bd16ed4256d3ea.bindPopup(popup_86dee32fddd2435388038f884279a1a6)
            ;

            
        
    
        var marker_d432037457214eafbe65c651356a194c = L.marker(
            [-35.2819, 149.1289],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_6eb2df4781134e3fa92d1b9a5ef8985e = L.popup({maxWidth: '300'
            
            });

            
                var html_07577ffad3904065a1b12ebe601b6125 = $(`<div id="html_07577ffad3904065a1b12ebe601b6125" style="width: 100.0%; height: 100.0%;">CanberraDSN</div>`)[0];
                popup_6eb2df4781134e3fa92d1b9a5ef8985e.setContent(html_07577ffad3904065a1b12ebe601b6125);
            

            marker_d432037457214eafbe65c651356a194c.bindPopup(popup_6eb2df4781134e3fa92d1b9a5ef8985e)
            ;

            
        
    
        var marker_f8523b07ca1c41818071dcb19f4e34b5 = L.marker(
            [29.55155, -95.09541],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_599b363297ba42659fb60e0ceec564ff = L.popup({maxWidth: '300'
            
            });

            
                var html_67d8875aaca245efb94f4aebbaa26b92 = $(`<div id="html_67d8875aaca245efb94f4aebbaa26b92" style="width: 100.0%; height: 100.0%;">AstroHague</div>`)[0];
                popup_599b363297ba42659fb60e0ceec564ff.setContent(html_67d8875aaca245efb94f4aebbaa26b92);
            

            marker_f8523b07ca1c41818071dcb19f4e34b5.bindPopup(popup_599b363297ba42659fb60e0ceec564ff)
            ;

            
        
    
        var marker_976f4a0892c540cd9d16abc5ab0b4000 = L.marker(
            [29.55155, -95.09541],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_be0b3bbe603f4c92bde1b0e917ef1aa5 = L.popup({maxWidth: '300'
            
            });

            
                var html_d33044447dbd4a89a90ab8933f1c1723 = $(`<div id="html_d33044447dbd4a89a90ab8933f1c1723" style="width: 100.0%; height: 100.0%;">Astro_Andreas</div>`)[0];
                popup_be0b3bbe603f4c92bde1b0e917ef1aa5.setContent(html_d33044447dbd4a89a90ab8933f1c1723);
            

            marker_976f4a0892c540cd9d16abc5ab0b4000.bindPopup(popup_be0b3bbe603f4c92bde1b0e917ef1aa5)
            ;

            
        
    
        var marker_f007b12a0d0d4882a1dd18e3bfa52309 = L.marker(
            [28.3861, -80.742],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_4c41791e50724438965a9d0ed28b624a = L.popup({maxWidth: '300'
            
            });

            
                var html_748a484d8dfa430d9b67da1de2325d4a = $(`<div id="html_748a484d8dfa430d9b67da1de2325d4a" style="width: 100.0%; height: 100.0%;">Astro_CabanaBob</div>`)[0];
                popup_4c41791e50724438965a9d0ed28b624a.setContent(html_748a484d8dfa430d9b67da1de2325d4a);
            

            marker_f007b12a0d0d4882a1dd18e3bfa52309.bindPopup(popup_4c41791e50724438965a9d0ed28b624a)
            ;

            
        
    
        var marker_eb997abf7360439abaeb9650a341d72b = L.marker(
            [38.99287, -76.84686],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_b01411ba175547479fa78cbcbdbf094b = L.popup({maxWidth: '300'
            
            });

            
                var html_50324452882b4bdcb3d544c2dcf08d2a = $(`<div id="html_50324452882b4bdcb3d544c2dcf08d2a" style="width: 100.0%; height: 100.0%;">NASA_LAMBDA</div>`)[0];
                popup_b01411ba175547479fa78cbcbdbf094b.setContent(html_50324452882b4bdcb3d544c2dcf08d2a);
            

            marker_eb997abf7360439abaeb9650a341d72b.bindPopup(popup_b01411ba175547479fa78cbcbdbf094b)
            ;

            
        
    
        var marker_265d2af1e097432288d10c9c5a0a153e = L.marker(
            [29.7589, -95.3677],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_938610e5fffa4ce38ee60aec2f22bee5 = L.popup({maxWidth: '300'
            
            });

            
                var html_d51b41dd6ed2484bb323cc5341e23199 = $(`<div id="html_d51b41dd6ed2484bb323cc5341e23199" style="width: 100.0%; height: 100.0%;">AstroPeggy, Astro2fish</div>`)[0];
                popup_938610e5fffa4ce38ee60aec2f22bee5.setContent(html_d51b41dd6ed2484bb323cc5341e23199);
            

            marker_265d2af1e097432288d10c9c5a0a153e.bindPopup(popup_938610e5fffa4ce38ee60aec2f22bee5)
            ;

            
        
    
        var marker_33e7ad3baf00442c960ccc6f9fde9144 = L.marker(
            [21.0, 77.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_21fb2a49a28d4c6b8a8f3a666ed9f559 = L.popup({maxWidth: '300'
            
            });

            
                var html_868155689d5143adb24a63850a97ab1d = $(`<div id="html_868155689d5143adb24a63850a97ab1d" style="width: 100.0%; height: 100.0%;">OSIRISREx</div>`)[0];
                popup_21fb2a49a28d4c6b8a8f3a666ed9f559.setContent(html_868155689d5143adb24a63850a97ab1d);
            

            marker_33e7ad3baf00442c960ccc6f9fde9144.bindPopup(popup_21fb2a49a28d4c6b8a8f3a666ed9f559)
            ;

            
        
    
        var marker_bd42f19e636a4a78be556d363a994e31 = L.marker(
            [38.895, -77.0366],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_14b30fc5afe04c79af31bb024bb4bfab = L.popup({maxWidth: '300'
            
            });

            
                var html_5a6e8c4b0d4845f6a26c48c27c2ab892 = $(`<div id="html_5a6e8c4b0d4845f6a26c48c27c2ab892" style="width: 100.0%; height: 100.0%;">POTUS, POTUS44</div>`)[0];
                popup_14b30fc5afe04c79af31bb024bb4bfab.setContent(html_5a6e8c4b0d4845f6a26c48c27c2ab892);
            

            marker_bd42f19e636a4a78be556d363a994e31.bindPopup(popup_14b30fc5afe04c79af31bb024bb4bfab)
            ;

            
        
    
        var marker_fcc98cb2b36948259636888847e68caf = L.marker(
            [42.537746, 141.2556],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_5aaf9ec7b999479190d027a50c923820 = L.popup({maxWidth: '300'
            
            });

            
                var html_00784b2ed49644739aaaa91d561babc2 = $(`<div id="html_00784b2ed49644739aaaa91d561babc2" style="width: 100.0%; height: 100.0%;">Astro_Kimiya</div>`)[0];
                popup_5aaf9ec7b999479190d027a50c923820.setContent(html_00784b2ed49644739aaaa91d561babc2);
            

            marker_fcc98cb2b36948259636888847e68caf.bindPopup(popup_5aaf9ec7b999479190d027a50c923820)
            ;

            
        
    
        var marker_969c2cc280144882a77ec76610ff04c2 = L.marker(
            [38.812424, -104.67736],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_79af1efb0b6b4e0fb9b1932f3e32f25f = L.popup({maxWidth: '300'
            
            });

            
                var html_c3876f8c007942559b8dcb58f395f7ce = $(`<div id="html_c3876f8c007942559b8dcb58f395f7ce" style="width: 100.0%; height: 100.0%;">AFSpace</div>`)[0];
                popup_79af1efb0b6b4e0fb9b1932f3e32f25f.setContent(html_c3876f8c007942559b8dcb58f395f7ce);
            

            marker_969c2cc280144882a77ec76610ff04c2.bindPopup(popup_79af1efb0b6b4e0fb9b1932f3e32f25f)
            ;

            
        
    
        var marker_b4568341e454472fb4c50f927986b1bf = L.marker(
            [35.176903, 136.887],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_d6d32ca665a54fb383d45dcd95350e8c = L.popup({maxWidth: '300'
            
            });

            
                var html_760081c1e7064e4699166f3b5fe1a84d = $(`<div id="html_760081c1e7064e4699166f3b5fe1a84d" style="width: 100.0%; height: 100.0%;">NASASMAP</div>`)[0];
                popup_d6d32ca665a54fb383d45dcd95350e8c.setContent(html_760081c1e7064e4699166f3b5fe1a84d);
            

            marker_b4568341e454472fb4c50f927986b1bf.bindPopup(popup_d6d32ca665a54fb383d45dcd95350e8c)
            ;

            
        
    
        var marker_0fc3ed28d77341f98e68869e6d3016fb = L.marker(
            [25.701168, -80.28993],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_fff7b8f9ef4341c298fa66f02224a794 = L.popup({maxWidth: '300'
            
            });

            
                var html_a358a359b6ff49c892a757c26cf742c6 = $(`<div id="html_a358a359b6ff49c892a757c26cf742c6" style="width: 100.0%; height: 100.0%;">NASA3DPrinter, Thom_astro</div>`)[0];
                popup_fff7b8f9ef4341c298fa66f02224a794.setContent(html_a358a359b6ff49c892a757c26cf742c6);
            

            marker_0fc3ed28d77341f98e68869e6d3016fb.bindPopup(popup_fff7b8f9ef4341c298fa66f02224a794)
            ;

            
        
    
        var marker_b10803e7136c4417bf96db45f6c1c653 = L.marker(
            [29.565928, -95.05922],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_209d691b3aeb478f80980b2359a6889a = L.popup({maxWidth: '300'
            
            });

            
                var html_27befec395a44900ab09a745cf49e64e = $(`<div id="html_27befec395a44900ab09a745cf49e64e" style="width: 100.0%; height: 100.0%;">Space_Station</div>`)[0];
                popup_209d691b3aeb478f80980b2359a6889a.setContent(html_27befec395a44900ab09a745cf49e64e);
            

            marker_b10803e7136c4417bf96db45f6c1c653.bindPopup(popup_209d691b3aeb478f80980b2359a6889a)
            ;

            
        
    
        var marker_b9c33cdb98054e9997f5dd6713040971 = L.marker(
            [41.86657, -87.60684],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_46c33d7d6efe4593b8ef92e112a9897c = L.popup({maxWidth: '300'
            
            });

            
                var html_bf0da790aec4411bad0b1c849ef7976f = $(`<div id="html_bf0da790aec4411bad0b1c849ef7976f" style="width: 100.0%; height: 100.0%;">NASANewHorizons</div>`)[0];
                popup_46c33d7d6efe4593b8ef92e112a9897c.setContent(html_bf0da790aec4411bad0b1c849ef7976f);
            

            marker_b9c33cdb98054e9997f5dd6713040971.bindPopup(popup_46c33d7d6efe4593b8ef92e112a9897c)
            ;

            
        
    
        var marker_27313852aeb74b57b613b98a0f190aa4 = L.marker(
            [46.440025, 30.75805],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_f1c856f9b947475bb442717ed9ebec26 = L.popup({maxWidth: '300'
            
            });

            
                var html_6ca8cd9037b84f249e4c55f85055c31c = $(`<div id="html_6ca8cd9037b84f249e4c55f85055c31c" style="width: 100.0%; height: 100.0%;">Msuraev</div>`)[0];
                popup_f1c856f9b947475bb442717ed9ebec26.setContent(html_6ca8cd9037b84f249e4c55f85055c31c);
            

            marker_27313852aeb74b57b613b98a0f190aa4.bindPopup(popup_f1c856f9b947475bb442717ed9ebec26)
            ;

            
        
    
        var marker_e5b12b16dfb5464aa96597624ab602e4 = L.marker(
            [29.7589, -95.3677],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_a1537c74472c4947a068724819780d04 = L.popup({maxWidth: '300'
            
            });

            
                var html_bc7a436ebb9e4907b8b15d593855abb7 = $(`<div id="html_bc7a436ebb9e4907b8b15d593855abb7" style="width: 100.0%; height: 100.0%;">Astro_Sabot, Astro_Jeanette</div>`)[0];
                popup_a1537c74472c4947a068724819780d04.setContent(html_bc7a436ebb9e4907b8b15d593855abb7);
            

            marker_e5b12b16dfb5464aa96597624ab602e4.bindPopup(popup_a1537c74472c4947a068724819780d04)
            ;

            
        
    
        var marker_bef871d5fd744e94a7d0e2a60c528674 = L.marker(
            [33.606846, -7.632845],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_99b5016c65b64c6980135b53da70d8d8 = L.popup({maxWidth: '300'
            
            });

            
                var html_06728a4fa5ff4164a02a4884843e2714 = $(`<div id="html_06728a4fa5ff4164a02a4884843e2714" style="width: 100.0%; height: 100.0%;">NASA_NEEMO</div>`)[0];
                popup_99b5016c65b64c6980135b53da70d8d8.setContent(html_06728a4fa5ff4164a02a4884843e2714);
            

            marker_bef871d5fd744e94a7d0e2a60c528674.bindPopup(popup_99b5016c65b64c6980135b53da70d8d8)
            ;

            
        
    
        var marker_f6cf9050fbeb4ef19fec9a405af3fdf6 = L.marker(
            [48.82306, 2.26917],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_429201093f6c419991bdd74265ea8d6e);
        
    
            var popup_0d377ca149644d4eb93c0d6aee277a5b = L.popup({maxWidth: '300'
            
            });

            
                var html_9cf04097f5834c7893ad51e19afcdde6 = $(`<div id="html_9cf04097f5834c7893ad51e19afcdde6" style="width: 100.0%; height: 100.0%;">OlegMKS</div>`)[0];
                popup_0d377ca149644d4eb93c0d6aee277a5b.setContent(html_9cf04097f5834c7893ad51e19afcdde6);
            

            marker_f6cf9050fbeb4ef19fec9a405af3fdf6.bindPopup(popup_0d377ca149644d4eb93c0d6aee277a5b)
            ;

            
        
</script>