{% extends "layout.html" %}

{% block body %}
<h1>Register for domain</h1>
<form action="/register" method="post">
    <input name="domain" placeholder="Domain" type="text"/>
    <select name="name">
        <option disabled selected value="">Name</option>
        <option value="Балакірська Аліса">Балакірська Аліса</option>
        <option value="Бернадзіковський Вячеслав">Бернадзіковський Вячеслав</option>
        <option value="Білик Владислав">Білик Владислав</option>
        <option value="Благута Роман">Благута Роман</option>
        <option value="Борис Ярослав">Борис Ярослав</option>
        <option value="Боцула Анна">Боцула Анна</option>
        <option value="Бурда Марко">Бурда Марко</option>
        <option value="Воробчук Аліна">Воробчук Аліна</option>
        <option value="Галецька Софія">Галецька Софія</option>
        <option value="Гапунович Юлія">Гапунович Юлія</option>
        <option value="Гаркот Софія">Гаркот Софія</option>
        <option value="Грицай Максим">Грицай Максим</option>
        <option value="Дацко Денис">Дацко Денис</option>
        <option value="Дигдалович Остап">Дигдалович Остап</option>
        <option value="Дмитришин Марія">Дмитришин Марія</option>
        <option value="Дубей Марян">Дубей Марян</option>
        <option value="Дубневич Соломія">Дубневич Соломія</option>
        <option value="Загартовський Марко">Загартовський Марко</option>
        <option value="Задорожний Владислав">Задорожний Владислав</option>
        <option value="Іваненко Денис">Іваненко Денис</option>
        <option value="Ільчиняк Арсен">Ільчиняк Арсен</option>
        <option value="Канцір Соломія">Канцір Соломія</option>
        <option value="Клименко Данило">Клименко Данило</option>
        <option value="Кметь Максим">Кметь Максим</option>
        <option value="Ковальчук Оксана">Ковальчук Оксана</option>
        <option value="Козяк Галина">Козяк Галина</option>
        <option value="Кравчук Софія">Кравчук Софія</option>
        <option value="Кратко Денис">Кратко Денис</option>
        <option value="Крищук Яна">Крищук Яна</option>
        <option value="Кубацька Христина">Кубацька Христина</option>
        <option value="Курляк Яна">Курляк Яна</option>
        <option value="Кучинський Володимир">Кучинський Володимир</option>
        <option value="Леньо Соломія">Леньо Соломія</option>
        <option value="Лесик Володимир">Лесик Володимир</option>
        <option value="Ляцька Анастасія">Ляцька Анастасія</option>
        <option value="Малецький Денис">Малецький Денис</option>
        <option value="Матрунич Олена">Матрунич Олена</option>
        <option value="Мацьків Оксана">Мацьків Оксана</option>
        <option value="Меда Володимир">Меда Володимир</option>
        <option value="Моргуненко Микола">Моргуненко Микола</option>
        <option value="Муравецька Ярина">Муравецька Ярина</option>
        <option value="Назарук Данило">Назарук Данило</option>
        <option value="Новосад Маркіян">Новосад Маркіян</option>
        <option value="Овсянніков Григорій">Овсянніков Григорій</option>
        <option value="Пазинюк Михайло">Пазинюк Михайло</option>
        <option value="Папка Віталій">Папка Віталій</option>
        <option value="Пасічник Юрій">Пасічник Юрій</option>
        <option value="Пастернак Назар">Пастернак Назар</option>
        <option value="Петришин Софія">Петришин Софія</option>
        <option value="Пецюх Софія">Пецюх Софія</option>
        <option value="Пинда Анна">Пинда Анна</option>
        <option value="Писко Богдан">Писко Богдан</option>
        <option value="Починок Юлія">Романчук Софія</option>
        <option value="Романчук Софія">Романчук Софія</option>
        <option value="Румежак Тарас">Румежак Тарас</option>
        <option value="Сагайдак Данило">Сагайдак Данило</option>
        <option value="Самоваров Микита">Самоваров Микита</option>
        <option value="Служинський Данило">Служинський Данило</option>
        <option value="Сорокотяга Соломія">Сорокотяга Соломія</option>
        <option value="Тананайська Анастасія">Тананайська Анастасія</option>
        <option value="Татош Софія">Татош Софія</option>
        <option value="Телюк Артем">Телюк Артем</option>
        <option value="Титаренко Віктор">Титаренко Віктор</option>
        <option value="Тітов Ігор">Тітов Ігор</option>
        <option value="Тодощук Назар">Тодощук Назар</option>
        <option value="Удуд Денис">Удуд Денис</option>
        <option value="Усачова Вікторія">Усачова Вікторія</option>
        <option value="Хабурський Устим">Хабурський Устим</option>
        <option value="Шкредко Андрій">Шкредко Андрій</option>
        <option value="Шувар Софія">Шувар Софія</option>
        <option value="Шумаков Максим">Шуптар Соломія</option>
        <option value="Шуптар Соломія">Шуптар Соломія</option>
        <option value="Яцків Богдан-Юрій">Яцків Богдан-Юрій</option>
        <option value="Яновський Андрій">Яновський Андрій</option>
        <option value="Шахов Михайло">Шахов Михайло</option>
        <option value="Бондар Діана">Бондар Діана</option>
        <option value="Петрівська Маріанна">Петрівська Маріанна</option>
        <option value="Безродна Євгенія">Безродна Євгенія</option>
        <option value="Чухра Антоніна">Чухра Антоніна</option>
        <option value="Вишневський Вадим">Вишневський Вадим</option>
    </select>
    <input type="submit" value="Register"/>
</form>
{% endblock %}
